.tableContainer {
    padding: 20px;

    .datatableTitle {
        max-width: 1100px;
        font-size: 24px;
        color: gray;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .link {
            text-decoration: none;
            color: green;
            font-size: 16px;
            font-weight: 400;
            border: 1px solid green;
            padding: 5px;
            border-radius: 5px;
            cursor: pointer;
        }
    }

    .tableCell {
        .cellWrapper {
            display: flex;
            align-items: center;

            .image {
                width: 32px;
                height: 32px;
                border-radius: 50%;
                object-fit: cover;
                margin-right: 10px;
            }
        }

        .status {
            padding: 5px;
            border-radius: 5px;

            &.Approved {
                color: green;
                background-color: rgba(0, 128, 0, 0.151);
            }
    
            &.Pending {
                color: goldenrod;
                background-color: rgba(189, 189, 3, 0.103);
            }
        }
    }
}